.styleheader .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #439dbb;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 2.0%;
  padding-bottom: 2.0%;
}
.styleheader .top-header h2 {
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  border-radius: 90px 90px 90px 90px;
  background-color: white;
  padding: 2.4%;
  color: #aaaaaa;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
.styleheader .top-header .logo-title2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.styleheader .top-header .logo-title2 .dog {
  width: 18%;
  height: 18%;
  align-items: center;
  justify-content: center;
}
.styleheader .top-header .logo-title2 h1 {
  font-size: 3.3rem;
  align-items: center;
  color: white;
  font-family: 'Galindo', cursive;
}
.styleheader .top-header .bell {
  width: 13%;
}
.listoptions .list-select nav {
  display: flex;
  width: 100%;
}
.listoptions .list-select nav a {
  border: 1px solid #aaaaaa;
  width: 50%;
  color: #439dbb;
  background-color: white;
  text-align: center;
  padding: 3%;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
}
.makecalendar .calendar {
  width: 100%;
}
.makecalendar .calendar tr {
  text-align: center;
  border-spacing: 2rem;
}
.makecalendar .calendar tr th {
  padding: 2%;
  font-family: 'Noto Sans KR', sans-serif;
  color: #aaaaaa;
}
.makecalendar .calendar tr td {
  padding: 2.5%;
  font-size: 1.4rem;
  font-family: 'Noto Sans KR', sans-serif;
  border-spacing: 3%;
  font-weight: 600px;
}
.makecalendar .calendar tr td:hover {
  border: 2px solid green;
  border-radius: 90px;
  padding: 1.5%;
}
.rotate {
  transition: rotate 1s;
}
.listview .notifications {
  display: flex;
  flex-direction: column;
  padding-bottom: 4%;
}
.listview .notifications h3 {
  color: #439dbb;
  font-size: 1.4rem;
  width: 100%;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 1.5%;
  padding-left: 3%;
  font-weight: 600;
}
.listview .notifications p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4rem;
  padding: 3%;
  padding-bottom: 2%;
  font-weight: 600;
  color: black;
}
.listview .notifications span {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4rem;
  color: #555555;
  padding-left: 3%;
  font-weight: 600;
}
.listview .notifications div {
  border-top: 1px solid #aaaaaa;
  padding-top: 2%;
  padding-bottom: 2%;
}
.listview .notifications div img {
  float: right;
  margin-top: -4%;
  width: 5%;
  height: 5%;
}
.listview .notifications .tomorrow {
  color: #8d8d8d;
  font-size: 1.4rem;
  width: 100%;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 1.5%;
  padding-left: 3%;
  font-weight: 600;
}
.listview .notifications .firstalert {
  border-left: 10px solid #3f9d2f;
}
.listview .notifications .secondalert {
  border-left: 10px solid #f28500;
}
.listview .notifications .thirdalert {
  border-left: 10px solid #715696;
  border-bottom: 1px solid #aaaaaa;
}
.listview .notifications .fourthalert {
  border-left: 10px solid #54c242;
}
.fix-footer .bottom-bar {
  margin-top: -2%;
  padding-top: 3%;
  padding-bottom: 4%;
  border-top: 2px solid #aaaaaa;
  border-bottom: 2px solid #aaaaaa;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.fix-footer .bottom-bar .to-do {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}
.fix-footer .bottom-bar .to-do a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
}
.fix-footer .bottom-bar .to-do img {
  width: 40%;
  padding-bottom: 11%;
}
.fix-footer .bottom-bar .explore {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}
.fix-footer .bottom-bar .explore a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
}
.fix-footer .bottom-bar .explore img {
  width: 40%;
  padding-bottom: 11%;
}
.fix-footer .bottom-bar .groups {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}
.fix-footer .bottom-bar .groups a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
}
.fix-footer .bottom-bar .groups img {
  width: 40%;
  padding-bottom: 11%;
}
.fix-footer .bottom-bar .search {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}
.fix-footer .bottom-bar .search a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
}
.fix-footer .bottom-bar .search img {
  width: 40%;
  padding-bottom: 11%;
}
.fix-footer .plus {
  border: #439dbb;
  background-color: #439dbb;
  padding: 1.8%;
  border-radius: 90px 90px 90px 90px;
  width: 7%;
  height: 7%;
}
.flex-bottom {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}
.flex-bottom a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
}
.flex-bottom img {
  width: 40%;
  padding-bottom: 11%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media (max-width: 500px) {
  * {
    max-width: 500px;
  }
  html {
    font-size: 62.5%;
  }
}
.launch {
  background-image: url(../img/background@2x.png);
}
.logo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25%;
  padding-bottom: 25%;
}
.logo-title img {
  width: 60%;
  height: 30%;
}
.logo-title img .rotate {
  rotate: 1 -0.5 1 180deg;
}
.logo-title h1 {
  font-family: 'Galindo', cursive;
  color: white;
  font-size: 4.4rem;
}
@media (max-width: 500px) {
  .calendar-view {
    background-color: white;
    width: 100%;
  }
  .calendar-view .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #439dbb;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2.0%;
    padding-bottom: 2.0%;
  }
  .calendar-view .top-header h2 {
    justify-content: flex-start;
    align-items: center;
    border: 1px solid white;
    border-radius: 90px 90px 90px 90px;
    background-color: white;
    padding: 2.4%;
    color: #aaaaaa;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 2rem;
  }
  .calendar-view .top-header .logo-title2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .calendar-view .top-header .logo-title2 .dog {
    width: 18%;
    height: 18%;
    align-items: center;
    justify-content: center;
  }
  .calendar-view .top-header .logo-title2 h1 {
    font-size: 3.3rem;
    align-items: center;
    color: white;
    font-family: 'Galindo', cursive;
  }
  .calendar-view .top-header .bell {
    width: 13%;
  }
  .calendar-view .list-select nav {
    display: flex;
    width: 100%;
  }
  .calendar-view .list-select nav a {
    border: 1px solid #aaaaaa;
    width: 50%;
    color: #439dbb;
    background-color: white;
    text-align: center;
    padding: 3%;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
  }
  .calendar-view .calendar {
    width: 100%;
  }
  .calendar-view .calendar tr {
    text-align: center;
    border-spacing: 2rem;
  }
  .calendar-view .calendar tr th {
    padding: 2%;
    font-family: 'Noto Sans KR', sans-serif;
    color: #aaaaaa;
  }
  .calendar-view .calendar tr td {
    padding: 2.5%;
    font-size: 1.4rem;
    font-family: 'Noto Sans KR', sans-serif;
    border-spacing: 3%;
    font-weight: 600px;
  }
  .calendar-view .calendar tr td:hover {
    border: 2px solid green;
    border-radius: 90px;
    padding: 1.5%;
  }
  .calendar-view .notifications {
    display: flex;
    flex-direction: column;
    padding-bottom: 4%;
  }
  .calendar-view .notifications h3 {
    color: #439dbb;
    font-size: 1.4rem;
    width: 100%;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 1.5%;
    padding-left: 3%;
    font-weight: 600;
  }
  .calendar-view .notifications p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.4rem;
    padding: 3%;
    padding-bottom: 2%;
    font-weight: 600;
    color: black;
  }
  .calendar-view .notifications span {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.4rem;
    color: #555555;
    padding-left: 3%;
    font-weight: 600;
  }
  .calendar-view .notifications div {
    border-top: 1px solid #aaaaaa;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .calendar-view .notifications div img {
    float: right;
    margin-top: -4%;
    width: 5%;
    height: 5%;
  }
  .calendar-view .notifications .tomorrow {
    color: #8d8d8d;
    font-size: 1.4rem;
    width: 100%;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 1.5%;
    padding-left: 3%;
    font-weight: 600;
  }
  .calendar-view .notifications .firstalert {
    border-left: 10px solid #3f9d2f;
  }
  .calendar-view .notifications .secondalert {
    border-left: 10px solid #f28500;
  }
  .calendar-view .notifications .thirdalert {
    border-left: 10px solid #715696;
    border-bottom: 1px solid #aaaaaa;
  }
  .calendar-view .notifications .fourthalert {
    border-left: 10px solid #54c242;
  }
  .calendar-view .bottom-bar {
    margin-top: -2%;
    padding-top: 3%;
    padding-bottom: 4%;
    border-top: 2px solid #aaaaaa;
    border-bottom: 2px solid #aaaaaa;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .calendar-view .bottom-bar .to-do {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
  .calendar-view .bottom-bar .to-do a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .calendar-view .bottom-bar .to-do img {
    width: 40%;
    padding-bottom: 11%;
  }
  .calendar-view .bottom-bar .explore {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
  .calendar-view .bottom-bar .explore a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .calendar-view .bottom-bar .explore img {
    width: 40%;
    padding-bottom: 11%;
  }
  .calendar-view .bottom-bar .groups {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
  .calendar-view .bottom-bar .groups a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .calendar-view .bottom-bar .groups img {
    width: 40%;
    padding-bottom: 11%;
  }
  .calendar-view .bottom-bar .search {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
  .calendar-view .bottom-bar .search a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .calendar-view .bottom-bar .search img {
    width: 40%;
    padding-bottom: 11%;
  }
  .calendar-view .plus {
    border: #439dbb;
    background-color: #439dbb;
    padding: 1.8%;
    border-radius: 90px 90px 90px 90px;
    width: 7%;
    height: 7%;
  }
}
