@media @gomobile{
    .calendar-view{
        background-color: white;
        max-height: 100vh;
        overflow: auto;
        width: 100%;
        height: 100%;
        //border: 1px solid blue;
        .styleheader;
        .listoptions;
        .makecalendar; 
        .listview; 
        .fix-footer;
        //.plus;    
    }
}
